<h4>Buscar viajes</h4>
<form>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Origen" >
</div>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Destino" >
</div>

    <div class="input-group date" data-provide="datepicker">
        <input type="text" class="form-control" placeholder="Fecha">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="input-group">
  <input type="text" class="form-control" placeholder="Precio maximo" >
</div>
    <button type="submit"> buscar</button>
</form>

  <script>
       $(document).ready(function() {
           $('.datepicker').datepicker({
               format: 'dd/mm/yyyy',
               startDate: '-3d'
           });
       })
  </script>