<!-- lista de los viajes en el que el usuario esta inscripto -->
{% extends "unAventonApp/base.html" %}
{% block title %}Configuracion de la cuenta{% endblock %}

{% block content %}
  <h3>Cuenta de usuario</h3>
  <hr>
  <h3>Autos</h3>
  <hr>
  <h3>Tarjetas</h3>
        <button type="button" class="btn btn-primary" onclick="trigger_modal_agregar_tarjeta()">
  Launch demo modal
</button>
  <hr>

  <script>
      function loadUserData() {
          var url = {% url 'datos_del_usuario' %};
          getJson(url ,{}, insertData, errorMessage);
      }

      function insertData(data) {
        //parsear la data
      }

      function errorMessage(data) {

      }

  </script>

{% endblock %}
