<!-- lista de los viajes en el que el usuario esta inscripto -->
{% extends "unAventonApp/base.html" %}
{% block title %}Crear nuevo  viaje{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-sm-12 col-md-6">
        {% if request.user.usuario.tiene_calificicaciones_pendientes_desde_mas_del_maximo_de_dias_permitidos %}
            <h4>Posee calificaciones pendientes por realizar</h4>
        {% elif get_autos and get_cuentas_bancarias %}
          <form id="id_form_viaje" method="POST">
            {% csrf_token %}
            <fieldset>
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Origen" type="text" name="origen"
                         required>
                </div>
                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Destino" type="text" name="destino"
                         required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Duracion" type="number" name="duracion"
                         required>
                </div>
                <div class="form-group col-md-6">
                  <input name="costo" class="form-control" placeholder="Costo Total $" type="number"
                         required>
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Fecha" type="date"
                         name="fecha" required>
                </div>
                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Hora" type="time"
                         name="hora" required>
                </div>
              </div>


              <div class="form-group">
                <select class="form-control" name="cuenta_bancaria" id="cuenta_bancaria" required>
                  <option value="" selected disabled>Selecciona una cuenta bancaria</option>
                  {% for cuenta in get_cuentas_bancarias %}
                    <option value="{{ cuenta.id }}">{{ cuenta.entidad }} - {{ cuenta.cbu }}</option>
                  {% endfor %}

                </select>
              </div>

              <div class="form-row">
                <div class="form-group col-md-7">
                  <select class="form-control" name="auto" id="auto" required>
                    <option value="" selected disabled>Selecciona un auto</option>
                    {% for auto in get_autos %}
                      <option
                          data-id={{ auto.id }} data-capacidad={{ auto.capacidad }}>{{ auto.marca }} {{ auto.modelo }}
                        ({{ auto.dominio | upper }})
                      </option>
                    {% endfor %}

                  </select>

                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="capacidad_restante">Asientos disponibles</label>
                  <select class="form-control" name="capacidad_restante" id="capacidad_restante"
                          required>
                    <option value="" selected disabled> -</option>

                  </select>

                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <select class="form-control" name="repeticion" id="repeticion"
                          required>
                    <option value="nunca" selected> No se repite</option>
                    <option value="diario">Se repite todos los dias</option>
                    <option value="semanal">Se repite todas las semanas</option>
                  </select>

                </div>
              </div>
              <div class="form-row">


                <div class="form-group col-md-12">

                  <label for="comment">Descripci&oacute;n:</label>
                  <textarea name="comentario" class="form-control" rows="5" id="comentario"></textarea>
                </div>

              </div>
            {% include 'unAventonApp/alerts/alertsGenericos.html'  with idError='viajeEr_' idSuccess='viajeSucc_'  %}
              <button type="submit" class="btn btn-lg btn-success btn-block">Registrar viaje</button>
            </fieldset>
          </form>
        {% else %}
          <h4> Debes registrar primero

            {% if not get_autos %}
              almenos un auto,
            {% endif %}
            {% if not get_cuentas_bancarias %}
              almenos una cuenta bancaria,
            {% endif %} para poder continuar
          </h4> <p>Accede a <a href="{% url 'miPerfil' %}">Mi Perfil</a> para continuar</p>
        {% endif %}


      </div>
    </div>

  </div>

  <script>

      $('#id_form_viaje').on('submit', function (e) {
          e.preventDefault();

          successCallback = function (response) {
              if (response.creado === true) {
                  mostrarMesajeCorrecto('viajeSucc_',"Creado exitosamente");
              } else {
                  mostrarMensajeDeErroresAnidados('viajeEr_',response.error);
              }
          };

          errorCallback = function (response) {
              console.log(response);
          };


          $data = getFormData($(this));

          $unix_time = toTimeUnix($data['fecha'], $data['hora']);
          $data['auto_id'] = $("#auto option:selected")[0].dataset.id;
          $data['fecha_hora_unix'] = $unix_time;
          $url = " {% url 'crear_viaje_ajax' %}";
          postJson($url, $data, successCallback, errorCallback);


      });


      $("#auto").change(function () {
          auto_seleccionado = $("#auto option:selected")[0];
          insertar_opciones_de_capacidad(auto_seleccionado.dataset.capacidad - 1);
      });


      function insertar_opciones_de_capacidad(start) {
          output = '';
          for (i = start; i > 0; i--) {
              output += '<option value="' + i + '">' + i + '</option>';

          }
          $('#capacidad_restante').html(output);
      }

  </script>


{% endblock %}
