{% extends "unAventonApp/base.html" %}
{% block title %}Detalle de publicacion{% endblock %}
{% block content %}

  <style>
  .preguntar textarea{
    height: 45px;
    max-height: 45px;
    width: 100%;
  }

  .preguntar button{
    height: 45px;
    border-radius: 0%;
  }

    .pregunta{
      margin: 20px 0 0 0;
      background-color: #f1737645;
    }

    .respuesta {
      margin: 0 0 0 30px;
            background-color: #f173761c;
    }

    .msgText {
      margin: 0 0 10px 15px;
      vertical-align: bottom;
      line-height: 38px;
    }
    .data{
      text-align: right;
      color: #8c8787f1;
      vertical-align: bottom;
      line-height: 15px;
      margin: 10px 0 0 8px;
    }

  </style>


<div style="text-align: left">
<div class="col-10  preguntar" >
<form class="form-inline">
  <div class="form-group col-8 mb-2 ml-3">
  <textarea rows="3" >
  </textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2"> Preguntar </button>
</form>
</div>

{% load unAventonApp_extras %}

<div class="col-10 card pregunta" >
  <div class="card-body">
    <img  height="50px" src="{{ request.user.usuario.id | foto_de_perfil }}"> <span class="msgText"> Tenes lugar para mi mama?</span>
    <span class="data">2/20/2012 15:20 </span>
  </div>
</div>

<div class="col-10 card respuesta" >
  <div class="card-body">
    <img  height="50px" src="{{ request.user.usuario.id | foto_de_perfil }}"> <span class="msgText"> Tenes lugar para mi mama?</span>
    <span class="data">2/20/2012 16:20 </span>

  </div>
</div>


</div>

{% endblock %}