{% extends "unAventonApp/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="md-col-8" style="width: 35rem; margin-top:50px;">
            <h1 style="color:#555;"><i>En<br><b>unAventon</b> <br> te ayudaremos a <br> crear y encontrar <br> viajes <br><b>seguros y confiables</b> <br> en cuestión de segundos</i></b></h1>

        </div>
        <div class="md-col-4" style="width: 35rem; position:">
        <img src="{% static 'unAventonApp/unAventon.png' %}" alt="" height="470px" width="685px" >
        </div>
</div>

{% endblock %}
{% block sidebar_left %}
    {% include "unAventonApp/__form_search_trip.html" %}
{% endblock %}
