<!-- lista de los viajes en el que el usuario esta inscripto -->
{% extends "unAventonApp/base.html" %}
{% block title %}Viajes creados{% endblock %}

{% block content %}
  <style>
    ul {
      text-align: initial;
    }
  </style>
  <div class="container">

    <h3>Mis viajes como conductor finalizados</h3>

          {% for viaje in viajes %}
            <div class="card card-block" style="margin-top: 25px">
              <ul>
                <li>Origen: {{ viaje.origen }}</li>
                <li> Destino: {{ viaje.destino }}</li>
                <li> Fecha: {{ viaje.fecha_hora_salida }}</li>
                <li> Auto utilizado: {{ viaje.auto.marca }} {{ viaje.auto.modelo }} {{ viaje.auto.dominio }} ,
                  asientos: {{ viaje.auto.capacidad }}</li>
                <li> Monto retenido por la aplicacion: ${{ viaje.get_comision_cobrada }}</li>
                <li> Total depositado en cuenta: <span style="      color: #9eb974;   font-weight: 900;">${{ viaje.get_total_a_reintegrar_al_conductor }}</span></li>
                <li> Copilotos confirmados: {{ viaje.get_count_copilotos_confirmados  }}</li>
                {% if viaje.tiene_calificacion_pendientes_a_copilotos %}<li> <h5 style="color: red">Este viaje tiene calificacion pendientes a copiltos</h5></li> {% endif %}
                <button type="button" class="btn"
                        onclick="openModalForViajeId('#modal_CopilotosConfirmados',{{ viaje.pk }})" >Lista de copilotos confirmados           </button>

              </ul>
            </div>
          {% endfor %}
  </div>
  {% include 'unAventonApp/modals/listaPasajerosConfirmados.html' %}
  {% include 'unAventonApp/modals/modificarViaje.html' %}
  {% include 'unAventonApp/modals/calificarUsuario.html' %}
  <script>
  var viaje_seleccionado = null;

  function openModalForViajeId(idSelector, idViaje) {
      $(idSelector).modal('show');
      viaje_seleccionado = idViaje;
  }

  function reloadPage(){
      location.reload();
  }

    function calificar_copiloto(idViajeCopiloto) {
      $("#id_calificar_usuario").modal('show');
      setSubmitEventToCalificarUsuario("{% url 'calificar_a_copiloto' %}", idViajeCopiloto);
    }


  </script>
{% endblock %}
