{% extends "unAventonApp/base.html" %}
{% block title %}SignIn{% endblock %}

{% block content %}

  <div class="container">
    <div class="row" style="margin-top: 10%">
      <div class="col-md-3"></div>
      <div class="col-sm-12 col-lg-5">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ingrese sus datos</h3>
          </div>
          <div class="panel-body">
            <form method="POST" action="{% url 'signin_register' %}">{% csrf_token %}
              <fieldset>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input class="form-control" placeholder="Nombre" type="text" name="firstName"
                           required>
                  </div>
                  <div class="form-group col-md-6">
                    <input class="form-control" placeholder="Apellido" type="text" name="lastName"
                           required>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus
                         required>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input class="form-control" placeholder="DNI" name="dni" type="text" required>
                  </div>
                  <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Fecha de nacimiento" type="date"
                         name="birthDay" required>
                  </div>
                </div>

                <div class="form-group">
                  <input class="form-control" placeholder="Contrase&ntilde;a" name="password"
                         type="password" required>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Confirmar contrase&ntilde;a"
                         name="confirmPassword" type="password" required>
                </div>

                <button type="submit" class="btn btn-lg btn-success btn-block">Registrarse</button>
              </fieldset>
            </form>
            {% if error %}
              <p style="color:red"> Ese usuario ya esta registrado</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}