<!-- lista de los viajes en el que el usuario esta inscripto -->
{% extends "unAventonApp/base.html" %}
{% load unAventonApp_extras %}

{% block title %}Viajes inscriptos{% endblock %}

{% block content %}
  <button type="button" class="btn btn-light" onclick="mostrar_solo('tr')">Todos</button>
  <button type="button" class="btn btn-light" onclick="mostrar_solo('table-warning')">Esperando confirmacion</button>
  <button type="button" class="btn btn-light" onclick="mostrar_solo('table-success')">Confirmados</button>
  <button type="button" class="btn btn-light" onclick="mostrar_solo('table-info')">Finalizados</button>

  <div class="table-responsive-sm">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha y Hora de salida</th>
        <th>Precio</th>
        <th>Conductor</th>
        <th>Calificaci&oacute;n del piloto</th>
        <th>Estado</th>
        <th>Calificar piloto</th>
        <th>Cancelar</th>
      </tr>
      </thead>
      <tbody>

      {% for viaje in viajes %}
        <tr class="{{ viaje.id | estadoCopilotoViajeClass }}">
          <td>{{ viaje.viaje.origen }}</td>
          <td>{{ viaje.viaje.destino }}</td>
          <td>{{ viaje.fecha_del_viaje }}</td>
          <td>{{ viaje.viaje.get_costo_por_pasajero }}</td>
          <td>{{ viaje.viaje.auto.usuario }}</td>
          <td>{{ viaje.viaje.auto.usuario.get_calificacion_como_piloto }}</td>
          <td>{{ viaje.id | estadoCopilotoViaje}}</td>
          <td>{{ viaje.id | copilotoViajeCalificarPiloto | safe}}</td>

          <td>{{ viaje.id | copilotoCancelarInscripcion | safe }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>

  <script>
      function mostrar_solo(clase) {
          $("tr").hide();
          if (clase == 'tr') {
              $("tr").show();
          } else {
              $("." + clase).show();
          }
      }

      function calificarPiloto(viajeCopilotoId) {

      }

      function cancelarInscripcion(viajeCopilotoId) {
          var successCallback = function (data) {
              location.reload();
          };

          data = {
              viaje_copiloto_id:viajeCopilotoId
          };
        postJson("{% url 'cancelar_ir_a_viaje' %}", data,successCallback)
      }

  </script>

{% endblock %}
