
<div class="modal fade" id="id_agregar_cuenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar cuenta bancaria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form id="id_form_add_cbu" method="POST" onsubmit="return agregar_cuenta_bancaria()" >{% csrf_token %}
              <fieldset>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="modal_cb" class="form-control" placeholder="CBU" type="text" name="cbu" pattern="[0-9]{22}" maxlength="22" title="El cbu tiene que ser de 22 digitos" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input class="form-control" placeholder="Entidad" type="text" name="entity" pattern="[a-zA-Z\s]+"  title="Solo se aceptan letras y espacios"  required>
                  </div>
                </div>

                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                <button id="btn_update_bank_accoun" type="submit" class="btn btn-warning fondo-color">
                  <i id="check_create_bank_account" class="fa fa-check" style="display: none"></i>
                  <i id="error_create_bank_account" class="fa fa-times" style="display: none"></i>
                  Agregar
                </button>

               {% include 'unAventonApp/alerts/alertsGenericos.html' with idError='AddAccErr' idSuccess='AddAccSucc' %}
              </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
    function agregar_cuenta_bancaria() {
        var data = getFormData($("#id_form_add_cbu"));
        const url = " {% url 'crear_cuenta_bancaria' %}";
        successCallback = function (response) {
            if (!response.error) {
                loadUserData();
                $("#check_create_bank_account").fadeIn(500).fadeOut();
                mostrarMesajeCorrecto('AddAccSucc',"Cuenta creada correctamente");
            }else {
                $("#error_create_bank_account").fadeIn(500).fadeOut(500);
                mostrarMensajeDeErrores('AddAccErr', [response.msg]);
            }
            console.log('cuenta',response.data,response.msg,'   :error',response.error);
        };

        errorCallback = function (response) {
            console.log('ohoh cuenta  ',response.data,response.msg, ':  error ',response.error);
        };
        postJson(url,data,successCallback,errorCallback);
        return false;
    }
</script>