
<div class="modal fade" id="id_agregar_cuenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar CBU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form id="id_form_add_cbu" method="POST" >{% csrf_token %}
              <fieldset>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="modal_cbu" class="form-control" placeholder="CBU" type="text" name="cbu" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input id="modal_entity" class="form-control" placeholder="Entidad" type="text" name="entity" required>
                  </div>
                </div>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" onsubmit="agregar_cuenta_bancaria()">Agregar</button>
              </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
    function agregar_cuenta_bancaria() {
        var data = getFormData($("#id_form_add_cbu"));
        console.log(data);
        var url = " {% url 'crear_cuenta_bancaria' %}";
        successCallback = function (response) {
            console.log('cuenta',response.data,response.msg,'   :error',response.error);
        }
        errorCallback = function (response) {
            console.log('ohoh cuenta  ',response.data,response.msg, ':  error ',response.error);
        }
        postJson(url,data,successCallback,errorCallback);
    }
</script>