<div class="modal fade" id="id_calificar_usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calificar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="id_form_calificar_usuario" method="POST" action="#">{% csrf_token %}
          <fieldset>
            <div class="form-row">
              <div class="form-group col-md-6">
                <select class="form-control" id="calificacionInput" name="calificacion" required>
                  <option value="1">Positiva</option>
                  <option value="0">Neutral</option>
                  <option value="-1">Negativa</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <textarea id="calificacionComentario" class="form-control" placeholder="Escriba un comentario"
                          name="comentario" required></textarea>
              </div>
            </div>

            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
            <button id="btn_calificar_usuario" type="submit" class="btn btn-warning fondo-color">
              <i id="error_calificacion" class="fa fa-times" style="display: none"></i>
              Aceptar
            </button>

            {% include 'unAventonApp/alerts/alertsGenericos.html' with idError='CalificarErr' idSuccess='CalificarSucc' %}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<script>


    function setSubmitEventToCalificarUsuario(url, viajeCopilotoId) {
        $('#id_form_calificar_usuario').on('submit', function (e) {
            e.preventDefault();
            calificar_a_usuario(url, viajeCopilotoId);
            return false;
        });
    }


    function calificar_a_usuario(url, viajeCopilotoId) {

        successCallback = function (response) {
            if (!response.error) {
                $("#id_calificar_usuario").modal('hide');

            } else {
                $("#error_calificacion").fadeIn(500).fadeOut(500);
                mostrarMensajeDeErrores('CalificarErr', [response.msg]);
            }
        };

        errorCallback = function (response) {
            console.log('ohoh error callback para calificar a usuario  ', response.data, response.msg, ':  error ', response.error);
        };


        var data = getFormData($("#id_form_calificar_usuario"));
        data['viaje_copiloto_id'] = viajeCopilotoId;
        postJson(url, data, successCallback, errorCallback);
        return false;
    }


    $('#id_calificar_usuario').on('shown.bs.modal', function (e) {

        $('#id_form_calificar_usuario').trigger("reset");
    });

</script>