<div class="modal fade" id="modal_CopilotosConfirmados" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Copilotos confirmados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Fecha  del viaje</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="bodyTableListaCopilotosConfirmados">
          <tr>
            <td>No hay copilotos confirmados</td>
          </tr>
          </tbody>
        </table>
         </div>
      </div>
    </div>
  </div>
</div>
<script>
    function cancelarCopiloto(viajeCopiloto) {
      if (!window.confirm("Estas seguro que vas a cancelar al copiloto? Se le descontara un punto en la calificacion")){
            return;
        }        var data = {
            viaje_copiloto_id:viajeCopiloto
        };
        postJson('{% url 'cancelar_copiloto' %}',data,loadListaDeCopilotosConfirmados);
        //TODO: mostrar algun mensaje de acpetacion o error y eliminarlo de la lista
    }

    var cargarListaDeCopilotosConfirmados = function (datos) {
        console.log(datos);
        var tableBody = $('#bodyTableListaCopilotosConfirmados');
        tableBody.html('');
        if (datos['data'].length == 0){
            tableBody.append("<tr><td>No hay copilotos confirmados</td></tr>");
        }

        for (var i = 0; i < datos['data'].length; i++) {
            var actual = datos['data'][i];
            var row;
            row = '<tr id=confirm_' + actual.usuario + i +'>';
            row += '<td>' + new Date(actual.fecha_del_viaje).toUTCString() + '</td>';
            row += '<td>' + actual.username + '</td>';
            row += '<td>' + actual.nombre + '</td>';
            row += '<td>' + actual.apellido + '</td>';
            if (actual.estado === 'finalizado' && actual.esta_calificado === false) {
                row += '<td> <button type="button" class="btn btn-default"  onclick="calificar_copiloto(' + actual.viajeCopiloto_id +')">Calificar</button></td>';
            }else if (actual.estado === 'finalizado' && actual.esta_calificado === true) {
                row += '<td> <button type="button" class="btn btn-default"  onclick="ver_calificacion_copiloto(' + actual.viajeCopiloto_id +')">Ver calificacion</button></td>';
            } else {
              row += '<td> <button type="button" class="btn btn-danger"  onclick="cancelarCopiloto(' + actual.viajeCopiloto_id +')">Cancelar</button></td>';
            }
            row += '</tr>';
            tableBody.append(row);
        }
    };

    function loadListaDeCopilotosConfirmados() {
        const url = "{% url 'copilotos_confirmados' %}";
        var data = {
            viaje_id: viaje_seleccionado,
            fecha_hora_unix:viaje_fecha_unix
        };
        postJson(url, data, cargarListaDeCopilotosConfirmados);
    }

    $('#modal_CopilotosConfirmados').on('shown.bs.modal', function (e) {
        // esta funcion se ejecuta automaticamente al abrir el modal.
        loadListaDeCopilotosConfirmados();
    });

    $('#modal_CopilotosConfirmados').on('hide.bs.modal', function (e) {
        // esta funcion se ejecuta automaticamente al abrir el modal.
      location.reload();
    })


</script>