
<div class="modal fade" id="id_modal_modificar_auto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Vehiculo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form id="id_form_update_car" method="POST" >{% csrf_token %}
              <input hidden name="id_auto" id="modal_id_auto">
               <fieldset>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="modal_marca" class="form-control" placeholder="marca" type="text" name="marca" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input id="modal_modelo" class="form-control" placeholder="modelo" type="text" name="modelo" required>
                  </div>
                    <div class="form-group col-md-6">
                    <input id="modal_capacidad" class="form-control" placeholder="capacidad" type="text" name="capacidad" required readonly>
                  </div>
                    <div class="form-group col-md-6">
                    <input id="modal_dominio" class="form-control" placeholder="dominio" type="text" name="dominio" required>
                  </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btn_agregar_auto" type="button" class="btn btn-primary" onclick="modificar_auto()">
                  <i id="check_create_add_car" class="fa fa-check" style="display: none"></i>
                  <i id="error_create_add_car" class="fa fa-times" style="display: none"></i>
                  Guardar cambios
                </button>
                   {% include 'unAventonApp/alerts/alertsGenericos.html' with idError='msg_error_modificar_auto' idSucces='msg_ok_modificacion' %}
              </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

  function modificar_auto() {
        const data = getFormData($("#id_form_update_car"));
        console.log(data);
        const url = " {% url 'actualizar_auto' %}";
        successCallback = function (response) {
            console.log('ok auto',response.error,response.msg);
            if (!response.error) {
                $("#check_create_add_car").fadeIn(500).fadeOut(500);
                mostrarMesajeCorrecto('msg_ok_modificacion','Vehiculo modificado correctamente')
            }else {
                $("#error_create_add_car").fadeIn(500).fadeOut(500);
                mostrarMensajeDeErrores('msg_error_modificar_auto',[response.msg])
            }

        };
        errorCallback = function (response) {
            console.log('ohoh auto ',response.error,response.msg);
        };

        postJson(url,data,successCallback,errorCallback);

  }

    </script>