<!-- lista de los viajes en el que el usuario esta inscripto -->
{% extends "unAventonApp/base.html" %}
{% block title %}Configuracion de la cuenta{% endblock %}

{% block content %}
  <style>

    .card-custom {
      box-shadow: 4px 4px 5px 0px #888888a3;
      margin: 15px 0 10px 0;
    }

    .card-perfil {
      box-shadow: 3px 3px 9px 3px #888888a3;
    }

  </style>
  <div class="container">
    <div class="row" style="text-align: left">
      <div class="md-col-3">
        <div class="card card-perfil fondo-color" style="width: 20rem;">
          <img class="card-img-top" src="{{ user.usuario.foto_de_perfil.url }}" alt="Card image cap">
          <div class="card-body">

            <h6><span id="fname"> </span> <span id="lname"> </span></h6>
            <h6 id="email"></h6>
            <h6 id="dni"></h6>
            <h6 id="birthday"></h6>
            <h6 id="reputacionPiloto"></h6>
            <h6 id="reputacionCoPiloto"></h6>
            <a href="{% url 'ver_calificaciones' %}"> Ver detalle de calificaciones</a>
            <p></p>
            <button type="button" class="btn btn-dark" onclick="trigger_modal_modificar_usuario(datos)"><i
                class="fas fa-address-card"></i> Editar
              datos
            </button>
            <a href="#" class="btn btn-dark" onclick="$('#uploadProfilePicture').click()"><i class="fas fa-camera"></i>
              Cambiar foto</a>
          </div>
        </div>

      </div>
      <form id="formUploadFile" action="{% url 'upload_foto' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input style="display: none" type="file" name="files" id="uploadProfilePicture">
      </form>


      <div class="offset-md-1 md-col-8">

        <button type="button" class="btn btn-warning fondo-color" onclick="showElement('#autos')"><i
            class="fas fa-caret-square-down"></i> Ver autos
        </button>
        <button type="button" class="btn btn-dark" onclick="trigger_modal_agregar('#id_agregar_auto')"><i
            class="fas fa-car"></i> Agregar auto
        </button>
        {% include 'unAventonApp/alerts/alertsGenericos.html' with idError='error_b_auto' idSuccess='ok_b_auto' %}
        <hr>

        <div id="autos" style="display: none"></div>


        <button type="button" class="btn btn-warning fondo-color" onclick="showElement('#tarjetas')"><i
            class="fas fa-caret-square-down"></i> Ver tarjetas
        </button>
        <button type="button" class="btn btn-dark" onclick="trigger_modal_agregar('#id_agregar_tarjeta')"><i
            class="fas fa-credit-card"></i> Agregar tarjeta
        </button>
        <div id="tarjetas" style="display: none"></div>

        <hr>

        <button type="button" class="btn btn-warning fondo-color" onclick="showElement('#cuentas_bancarias')"><i
            class="fas fa-caret-square-down"></i> Ver cuentas bancarias
        </button>
        <button type="button" class="btn btn-dark" onclick="trigger_modal_agregar('#id_agregar_cuenta')"><i
            class="fas fa-university"></i> Agregar cuenta bancaria
        </button>
        {% include 'unAventonApp/alerts/alertsGenericos.html' with idError='error_b_cuentabanc' idSuccess='ok_b_cuentabanc' %}
        <div id="cuentas_bancarias" style="display: none"></div>


      </div>

    </div>

  </div>




  {% include "unAventonApp/modals/ModificarUsuario.html" %}
  {% include "unAventonApp/modals/agregarTarjeta.html" %}
  {% include "unAventonApp/modals/agregarCuenta.html" %}
  {% include "unAventonApp/modals/agregarVehiculo.html" %}
  {% include "unAventonApp/modals/modificarTarjeta.html" %}
  {% include "unAventonApp/modals/modificarCuenta.html" %}
  {% include "unAventonApp/modals/ModificarAuto.html" %}
  <script>


      $(function () {
          loadUserData();
      });

      function loadUserData() {
          var url = '{% url "datos_del_usuario" %}';
          succesCallback = function (data) {
              insert_user_data(data.usuario);
              insert_credit_card_data(data);
              insert_cuenta_bancaria_data(data);
              insert_vehicle_data(data);
              console.log(data);
              datos = data;
          };
          errorCallback = function (data) {
              console.log(data)
          };
          getJson(url, {}, succesCallback, errorCallback);
      }


      function eliminar_cuenta_bancaria(id, elem) {
          if (!window.confirm("Esta seguro que desea borrar la cuenta bancaria? ")) return;
          var url = '{% url "borrar_cuenta_bancaria" %}';
          var data = {'id_cuenta': id};
          var elementoCuenta = $('cuenta_' + id);
          successCallback = function (response) {
              console.log('success cuenta bancaria', response.error, response.msg);

              if (response.error) {
                  mostrarMensajeDeErrores('error_b_cuentabanc', [response.msg]);
              } else {
                  $(elem.parentElement).fadeOut(800).remove();
              }

          };
          errorCallback = function (response) {
              console.log('error cuenta bcancaria', response.msg, response.error);
          };
          postJson(url, data, successCallback, errorCallback);
      }

      function eliminar_tarjeta_credito(id, elem) {
          if (!window.confirm("Esta seguro que desea borrar la tarjeta de credito? ")) return;
          var url = '{% url "borrar_tarjeta" %}';
          var data = {'id_tarjeta': id};
          successCallback = function (response) {
              loadUserData();
              console.log('success tarjeta de credito', response.error, response.msg);
              $(elem.parentElement).fadeOut(800).remove();
          };
          errorCallback = function (response) {
              overlayShow(response.msg);
              console.log('error tarjeta credito', response.msg, response.error);
          };
          postJson(url, data, successCallback, errorCallback);
      }

      function eliminar_auto(id, elem) {
          if (!window.confirm("Esta seguro que desea borrar el auto? ")) return;
          var url = '{% url "borrar_auto" %}';
          var data = {'id': id};
          successCallback = function (response) {
              loadUserData();
              if (response.error) {
                  mostrarMensajeDeErrores('error_b_auto', [response.msg]);
              } else {
                  $(elem.parentElement).fadeOut(800).remove();
              }
              console.log('success auto', response.error, response.msg);
          };
          errorCallback = function (response) {

              console.log('error auto', response.msg, response.error);
          };
          postJson(url, data, successCallback, errorCallback);
      }

      function showElement(id) {
          $(id).toggle(300);
          loadUserData();
      }

      document.getElementById("uploadProfilePicture").onchange = function () {
          document.getElementById("formUploadFile").submit();
      };

  </script>

{% endblock %}
