<div class="modal fade" id="id_modal_modificar_tarjeta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Tarjeta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="id_form_modificar_tarjeta" method="POST" onsubmit="return modificar_tarjeta()">{% csrf_token %}
            <input hidden name="id_tarjeta" id="modal_id_tarjeta">
              <fieldset>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="modal_num_tarjeta" class="form-control" placeholder="Numero de tarjeta" type="text" name="cardNumber" pattern="[0-9]{16}" maxlength="16" title="El numero de tarjeta tiene que ser de 16 digitos" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input id="modal_dateVto" class="form-control" placeholder="Fecha de vencimiento" type="text" name="fechaVto" pattern="[0-9]{4}" maxlength="4" title="Solo ingrese numeros DDMM" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="modal_dateCreation" class="form-control" placeholder="Fecha de creacion" name="fechaCreacion" type="text" pattern="[0-9]{4}" maxlength="4" title="Solo ingrese numeros DDMM" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input id="modal_ccv" class="form-control" placeholder="CCV" name="ccv" type="text" pattern="[0-9]{3-4}" maxlength="4" minlength="3" title="Solo ingrese numeros, minimo 3 numeros" required>
                  </div>
                </div>
              </fieldset>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                 <button id="btn_update_credit_card" type="submit" class="btn btn-warning fondo-color">
                    <i id="check_update_credit_card" class="fa fa-check" style="display: none"></i>
                    <i id="error_update_credit_card" class="fa fa-times" style="display: none"></i>
                    Guardar cambios
                </button>
            {% include 'unAventonApp/alerts/alertsGenericos.html' with idError='error_t_cuenta' idSuccess='ok_t_cuenta' %}
              </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>


<script>

    function modificar_tarjeta() {
        var data = getFormData($("#id_form_modificar_tarjeta"));
        var url = " {% url 'actualizar_tarjeta' %}";
        successCallback = function (response) {
            loadUserData();
             if (!response.error) {
                $("#check_update_credit_card").fadeIn(500).fadeOut(500);
                mostrarMesajeCorrecto('ok_t_cuenta','Tarjeta de credito actualizada');
            }else {
                $("#error_update_credit_card").fadeIn(500).fadeOut(500);
                mostrarMensajeDeErrores('error_t_cuenta',[response.msg]);
            }
            console.log('success tarjeta',response.data, response.error, response.msg);
        }
        errorCallback = function (response) {
            console.log('error tarjeta', response.msg, response.error);
        }
        postJson(url,data,successCallback,errorCallback);
        return false;


    };
</script>